@model DostawyMaterialow.Models.Dostawa

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatunek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatunek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wytop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wytop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Srednica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Srednica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dlugosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dlugosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Masa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Masa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDostawy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDostawy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dostawca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dostawca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edycja</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
